@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using Newtonsoft.Json
@{
    var serializedClient = Context.Session.GetString("ClientLogin");
    var loginClient = serializedClient != null ? JsonConvert.DeserializeObject<Clients>(serializedClient) : null;
    var serializedMoto = Context.Session.GetString("Motorcycles");
    var motoList = serializedMoto != null ? JsonConvert.DeserializeObject<List<TakeMotoToWork>>(serializedMoto) : null;
    var serializedThisMoto = Context.Session.GetString("ThisMotorcycle");
    var mot = serializedThisMoto != null ? JsonConvert.DeserializeObject<MotorcyclesToClient>(serializedThisMoto) : null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Styling Example</title>
    <!-- Include jQuery library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   
   

    <!-- Custom stylesheet -->
    <style>
        .mycontainer {
            display: flex;
            justify-content: space-between;
            
            margin: auto;
        }

        .underline {
            /*display: none;*/
            text-decoration: underline dashed #F98404;
            text-underline-offset: 10px;
            margin: 20px;
        }
        .imageForm {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            .imageForm img{
            width:100%;
            }
           

        .labelContainer {
            width: 150px;
            margin:10px;
        }

        
       .imageForm {
    order: -1;
}

        .inpMoto{
            width:400px;
            margin-right:20px;
        }

        .btn1 {
            background: #F98404;
            border-radius: 35px;
            font-weight: bold;
            margin: 20px auto;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.7);
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            transition: opacity 0.25s;
        }

        .image-container {
            position: relative;
            display: inline-block;
        }

            .image-container img {
                display: block;
            }

            .image-container:hover .overlay {
                opacity: 0.3;
            }

        .overlay img {
            width: 60px; /* Adjust the size as needed */
            height: 60px; /* Adjust the size as needed */
        }
    </style>

</head>
<body>
    <h1 class="underline">@loginClient?.Fullname </h1>
    <p><strong style="margin-left:20px;">@loginClient?.Telephone</strong></p>
    <section class="mycontainer">
        
        
                    
         @if (mot != null)
         {
            <form action="@Url.Action("EditMoto","Home")" method="post" enctype="multipart/form-data">
                <div class="imageForm">
                    <table>
                        <tr>
                            <td>
                               @{ var base64 = Convert.ToBase64String(mot.PhotoMoto);
                                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                               }
                                <input type="file" id="photo" name="photo" style="display: none;" />
                               
                                <div class="image-container" onclick="document.getElementById('photo').click();" style="cursor: pointer;">
                                    <img src="@imgSrc" alt="Example Image" />
                                    <div class="overlay">
                                        <img src="https://cdn.mywebicons.ru/i/webp/95c9ef4184e7e3ba34ce00ffd0ae2747.webp" alt="Overlay Image" />
                                    </div>
                                </div>
                                
                            </td>
                            <td>
                                <table>
                                    <tr>
                                        <td> <label for="fullname" class="labelContainer">Марка:</label></td>
                                        <td>
                                            <select name="model" id="model">
                                                @foreach (var modele in motoList)
                                                {
                                                    <option>@modele.Model</option>
                                                }
                                            </select>
                                        </td>
                                      
                                    </tr>
                                    <tr>
                                        <td> <label for="yearOfRelease" class="labelContainer">Год выпуска:</label></td>
                                        <td>  <input type="text" name="year" id="year" class="inpMoto" value="@mot.YearRelease?.Year" /></td>
                                    </tr>
                                    <tr>
                                        <td> <label for="mileage" class="labelContainer">Пробег:</label></td>
                                        <td>  <input type="number" name="mileage" id="mileage" class="inpMoto" value="@mot.Mileage" /></td>
                                    </tr>
                                   
                                </table>
                            </td>
                        </tr>
                    </table>
                    <button type="submit" class="btn1">Сохранить</button>
                </div>
            </form>
         }
         else
         {
                            <form action="@Url.Action("AddMoto","Home")" method="post" enctype="multipart/form-data">
                                <div class="imageForm">
                                    <table>
                                        <tr>
                            <td>
                                <input type="file" id="photo" name="photo" style="display: none;" />
                                <div class="image-container" onclick="document.getElementById('photo').click();" style="cursor: pointer;">
                                <img src="~/images/addMot.JPG" alt="Example Image" />
                                    <div class="overlay">
                                        <img src="https://cdn.mywebicons.ru/i/webp/95c9ef4184e7e3ba34ce00ffd0ae2747.webp" alt="Overlay Image" />
                                    </div>
                                </div>
                                </td>
                            <td>
                                <table>
                                    <tr>
                                        <td> <label for="fullname" class="labelContainer">Марка:</label></td>
                                        <td>
                                            <select name="model" id="model">
                                                @foreach (var modele in motoList)
                                                {
                                                    <option>@modele.Model</option>
                                                }
                                            </select>
                                        </td>
                                        @* <td>  <input type="text" name="model" id="model" class="inpMoto" /></td>*@
                                    </tr>
                                    <tr>
                                        <td> <label for="yearOfRelease" class="labelContainer">Год выпуска:</label></td>
                                        <td>  <input type="text" name="year" id="year" class="inpMoto" /></td>
                                    </tr>
                                    <tr>
                                        <td> <label for="mileage" class="labelContainer">Пробег:</label></td>
                                        <td>  <input type="number" name="mileage" id="mileage" class="inpMoto" /></td>
                                    </tr>
                                   
                                </table>
                                </td>
                                        </tr>
                                    </table>
                            <button type="submit" class="btn1">Добавить</button>
                        </div>
                    </form>
         }     
    </section>
</body>
</html>