@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<MotorcyclesToClient>
@{
    ViewData["Title"] = "Акаунт";
}

<h1 class="underline">@ViewBag.name</h1>
<p><strong style="margin-left:20px;">@ViewBag.tel</strong></p>

<div class="header-container">
    <h2 class="header-title">Мои мотоциклы</h2>
    <button type="button" class="btn btn-primary" onclick="location.href = '@Url.Action("AddMoto", "Client", new { id = 1 })'">Добавить мотоцикл</button>
</div>

<div class="motorcycle-grid">
    @foreach (var motorcycle in Model)
    {
        var base64 = Convert.ToBase64String(motorcycle.PhotoMoto);
        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
        <div class="motorcycle-tile">
            <a href="@Url.Action("ThisMoto", "Client", new { id = motorcycle.IdMotoCl })" class="motorcycle-tile-link">
                <img src="@imgSrc" alt="Фото @motorcycle.Model" class="motorcycle-image" />
                <div class="motorcycle-info">
                    <h3>@motorcycle.Model</h3>
                </div>
            </a>
            <button type="button" class="btn btn-danger btn-sm btn-delete" onclick="location.href = '@Url.Action("DelMoto", "Client", new { id = @motorcycle.IdMotoCl })'">
                <img src="~/images/trashCan.png" alt="Удалить" />
            </button>
        </div>
    }
</div>

<style>
    .underline {
        text-decoration: underline dashed #F98404;
        text-underline-offset: 10px;
        margin: 20px;
    }

    .header-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        position: relative;
    }

    .header-title {
        margin: 0;
    }

    .btn-primary {
        position: absolute;
        right: 0;
        background-color: #F98404;
        color: black;
    }

    .motorcycle-grid {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 20px;
    }

    .motorcycle-tile {
        position: relative;
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        width: 200px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        text-decoration: none;
        color: inherit;
        margin-bottom: 20px;
    }

    .motorcycle-image {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    .motorcycle-info {
        padding: 10px;
        text-align: center;
    }

    .motorcycle-tile:hover .btn-delete {
        display: block;
    }

    .btn-delete {
        position: absolute;
        top: 4px;
        right: 4px;
        display: none;
        background: none;
        border: none;
        padding: 2px;
    }

    .btn-delete:hover {
        background: #F98404; /* Мен`яем фон на в о вашранжевый CSS при наведении */
    }
        .btn-delete img {
            width: 20px;
            height: 20px;
        }
</style>
