@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<ViewMechanicAccount>
@{
    ViewData["Title"] = "Акаунт";
    
}
@*<script src="~/js/site.js"></script>*@
<style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .mcontainer {
            display: flex;
            flex-wrap: wrap; /* Позволяет элементам обтекать */
            justify-content: space-between; /* Распределяет пространство между элементами */
            padding: 20px;
        }

        /* Мобильный стиль в site.css*/
        

.radio-group {
    margin: 10px 0;
}

input[type="radio"] {
    margin-right: 10px;
}
.note-field {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
}

    .underline {
        text-decoration: underline dashed #F98404;
        text-underline-offset: 10px;
        margin: 20px;
    }

    /*для календаря*/
    /*.group:after {
        content: "";
        display: table;
        clear: both;
    }*/

   /* imgAccMech {
        max-width: 100%;
        height: auto;
        vertical-align: baseline;
    }*/

    a {
        text-decoration: none;
    }

    .calendar-wrapper {
        width: 360px;
        margin: 3em auto;
        padding: 2em;
        border: 1px solid #dcdcff;
        border-radius: 5px;
        background: #fff;
    }

    .calendar-table {
        clear: both;
        width: 100%;
        border: 1px solid #dcdcff;
        border-radius: 3px;
        border-collapse: collapse;
        color: #444;
    }

    .calendar-td {
        height: 48px;
        text-align: center;
        vertical-align: middle;
        border-right: 1px solid #dcdcff;
        border-top: 1px solid #dcdcff;
        width: 14.28571429%;
    }

    td.not-current {
            color: #c0c0c0;
        }

    td.today {
            font-weight: 700;
            color: #28283b;
            font-size: 1.5em;
        }

    thead td {
        border: none;
        color: #28283b;
        text-transform: uppercase;
        font-size: 1.5em;
    }

    #btnPrev {
        float: left;
        margin-bottom: 20px;
    }

        #btnPrev:before {
            content: '\f104';
            font-family: FontAwesome;
            padding-right: 4px;
        }

    #btnNext {
        float: right;
        margin-bottom: 20px;
    }

        #btnNext:after {
            content: '\f105';
            font-family: FontAwesome;
            padding-left: 4px;
        }

    #btnPrev,
    #btnNext {
        background: transparent;
        border: none;
        outline: none;
        font-size: 1em;
        color: #c0c0c0;
        cursor: pointer;
        font-family: sans-serif;
        text-transform: uppercase;
        transition: all 0.3s ease;
    }

        #btnPrev:hover,
        #btnNext:hover {
            color: #28283b;
            font-weight: bold;
        }
        /*end*/
    </style>
<h1 class="underline">
    @ViewData["name"]
    
</h1>
<p><strong style="margin-left:20px;">@ViewData["tel"]</strong></p>

<div class="mcontainer">
    <div class="block" style="background-color: #add8e6;">
       @* <div id="calendar"></div>*@
        <div class="calendar-wrapper">
            <button id="btnPrev" type="button">Предыдущий</button>
            <button id="btnNext" type="button">Следующий</button>
            <div id="divCal"></div>
            <input type="hidden" name="dateChoicen" id="dateChoicen">
            
        </div>
    </div>
    <div class="block" style="background-color: #90ee90;">
        
        <form id="noteForm" method="post" action="@Url.Action("AccountMechanic")">
                <input type="hidden" name="requestId" id="requestId">
            <div id="selectedDateDisplay"></div>
            <div class="radio-group" id="repairRequestsContainer">
                
               @* @if (Model != null && Model.Any())
                {
                  @foreach (var request in Model)
                  {
                    <label>
                        <input type="radio" name="option" value="@request.IdRequest" onclick="showNoteField(@request.IdRequest)">
                        @request.ModelMotoCl
                    </label>
                  }
                }
                else
                {
                <p>Нет записей</p>
                }*@
                </div>
                <div id="noteField" class="note-field" style="display: none;">
                    <h3>Заметки</h3>
                    @*<label>
                        <input type="checkbox" id="importantNote"> Важная заметка
                    </label>*@
                    <br>
                    <textarea id="noteInput" placeholder="Введите вашу заметку здесь..." rows="4" cols="50"></textarea>
                    <br>
                    <button onclick="saveNote()">Сохранить</button>
                </div>
                       
    </form>
 
    </div>
</div>


